html {
	font-family: 'TT Lakes';
}

/* *{
    border: .1px solid;
} */
@media (min-width:1120px) {
	.top-page {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: end;
		height: 82px;
		background-color: #f8f8f8;
	}
}

.header {
	height: 88px;
	width: 100%;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #D9FFF5;
}

@media (min-width:1120px) {
	.header {
		width: auto;
		height: 82px;
		background-color: #f8f8f8;
		border: none;
	}
}

.header__left-menu {
	margin-left: 16px;
}

@media (min-width:1120px) {
	.header__left-menu {
		display: none;
	}

}

.header__burger-icon {
	display: block;
}

.header__logo {
	position: absolute;
	left: 72px
}

@media (min-width:1120px) {
	.header__logo {
		display: none;
	}

}

.header__right-menu {
	width: 118px;
	margin-right: 16px;
	display: flex;
	justify-content: space-between;
}

@media (min-width:768px) {
	.header__right-menu {
		margin-right: 24px;
	}

}

@media (min-width:1120px) {
	.header__right-menu {
		align-items: end;
		height: 100%;
		width: auto;
		margin-right: 0;
	}

}


.header__right-menu::before {
	content: '';
	width: 2px;
	height: 32px;
	border-radius: 1px;
	background-color: #eaeaea;
	position: relative;
	top: 4px;
	bottom: 4px;
}

@media (min-width:1120px) {
	.header__right-menu::before {
		display: none;
	}

}


.header__right-menu-text {
	display: none;
}

@media (min-width:1120px) {
	.header__right-menu-text {
		display: inline;
		margin-right: 8px;
	}


}

.header__right-menu-link {
	text-decoration: none;
	height: 40px;
	color: #1B1C21;
}

@media (min-width:1120px) {
	.header__right-menu-link {
		display: flex;
		align-items: center;
		flex-direction: row;
		margin-right: 32px;
	}
}


@media (min-width:1120px) {
	.header__checkstatus-icon {
		margin-top: 0;
	}
}

@media (min-width:1120px) {
	.header__repair-icon {
		margin-top: 0;
	}
}

.header__three-icons {
	display: none;
}

@media (min-width:768px) {
	.header__three-icons {
		display: block;
		position: absolute;
		right: 162px;
	}
}

@media (min-width:1120px) {
	.header__three-icons {
		display: none;
	}

}

.header__three-icons-item {
	margin-left: 16px;
}

.main {
	background-color: #f8f8f8;
	width: 100%;
}

.title-container::before {
	content: '';
	width: 8px;
	height: 40px;
	background: #41F6D7;
	position: absolute;
	border-radius: 4px;
	left: -4px;
	top: 24px;
}

@media (min-width:1120px) {
	.title-container::before {
		top: 0;
	}


}

.title-container {
	position: relative;
}

@media (min-width:1120px) {
	.title-container {
		order: -1;
	}

}

.title {
	margin: 0;
	padding: 24px 16px;
	font-size: 28px;
	line-height: 40px;
	color: #1B1C21;
	background-color: #f8f8f8;
}

@media (min-width:1120px) {
	.title {
		padding: 0;
		margin-left: 32px;
	}
}


.page-nav {
	position: relative;
	height: 40px;
	padding: 0 0;

}

@media (min-width: 1120px) {
	.page-nav {
		height: auto;
		padding: 11px 32px 0 32px;
	}

}

.page-nav::after {
	content: '';

	height: 40px;
	width: 24px;
	position: absolute;
	right: 0;
	top: 0;
	background: linear-gradient(to right, transparent, #f8f8f8);
}

@media (min-width: 1120px) {
	.page-nav::after {
		display: none;
	}

}

.page-nav::before {
	content: '';
	height: 40px;
	width: 24px;

	position: absolute;
	left: 0;
	top: 0;
	background: linear-gradient(to left, transparent 33%, #f8f8f8);
}

@media (min-width: 1120px) {
	.page-nav::before {
		display: none;
	}

}


.page-nav__list {
	list-style: none;
	white-space: nowrap;
	margin: 0;
	padding: 0 0;
	height: 40px;
	overflow: scroll;
}

@media (min-width: 1120px) {
	.page-nav__list {
		overflow: initial;
		display: flex;
		flex-wrap: wrap;
		height: auto;
	}

}

.page-nav__list-item {
	display: inline-block;

}


.page-nav__list-link {
	font-size: 16px;
	display: block;
	margin: 8px 16px;
	line-height: 24px;
	text-decoration: none;
	font-weight: medium;
	letter-spacing: 1.25px;
	color: #7E7E82;
}

.page-nav__list-item:first-child {
	margin-left: 16px;
}

@media (min-width: 768px) {
	.page-nav__list-item:first-child {
		margin-left: 24px;
	}

}

@media (min-width: 1120px) {
	.page-nav__list-item:first-child {
		margin-left: 0;
	}

}

.page-nav__list-link--active {
	margin: 0;
	padding: 6px 16px;

}

.page-nav__list-item--active {
	border: 2px solid #B8FFEC;
	border-radius: 6px;
	background-color: #fff;
}

.intro__down-wrapper {
	display: flex;
	flex-direction: column;
}

@media (min-width: 768px) {
	.intro__down-wrapper {
		display: flex;
		flex-direction: row;
	}
}

.intro__about-us {
	padding-bottom: 16px;
}

.intro__text {
	padding: 24px 16px 16px 16px;
	font-size: 14px;
	line-height: 18px;
	font-weight: normal;
	color: #1B1C21
}

@media (min-width: 768px) {
	.intro__text {
		padding: 32px 24px;
		padding-bottom: 10px;
	}

}

@media (min-width: 1120px) {
	.intro__text {
		padding-left: 34px;
		padding-right: 36px;
		padding-bottom: 10px;
		padding-top: 11px;
	}
}

.intro__text--screen-s {
	margin: 0;
}


.intro__text--screen-m {
	display: none;
}

@media (min-width: 1120px) {
	.intro__text--screen-m {
		display: inline;

	}
}

.intro__text--screen-l {
	display: none;
}

@media (min-width: 768px) {
	.intro__text--screen-l {
		display: block;
		margin-top: 32px;
		margin-bottom: 0;
	}
}


.intro__cont-read {
	display: flex;
	align-items: center;

}

.intro__link-marker {
	margin-left: 16px;
	margin-right: 8px;
	display: inline-block;
}

@media (min-width: 768px) {
	.intro__link-marker {
		margin-left: 25px;

	}
}

@media (min-width: 1120px) {
	.intro__link-marker {
		margin-left: 40px;

	}
}

.intro__link-title {
	margin: 0;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	line-height: 24px;
	font-weight: 500;
	color: #1B1C21;
}

@media (min-width: 768px) {}

.intro__img {
	width: 100%;
	margin-bottom: 35px;
	border-radius: 6px;
}

@media (min-width: 768px) {
	.intro__img {
		margin: 32px 25px 40px 24px;
		width: 360px;
		height: 208px;
	}

}

@media (min-width: 1120px) {
	.intro__img {
		margin: 2px 25px 40px 0;
		border-radius: 6px;
		width: 531px;
		height: 307px;
	}

}