html{
    font-family: 'TT Lakes';
}
/* *{
    border: .1px solid;
} */


.header{
    height: 88px;
    width: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #D9FFF5;
}

.header__left-menu{
    margin-left: 16px;
}
.header__burger-icon{
    display: block;
}
.header__logo{
    position: absolute;
    left: 72px 
}
.header__right-menu{
    width: 118px;
    margin-right: 16px;
    display: flex;
    justify-content: space-between;
}
.header__right-menu::before{
    content: '';
    width: 2px;
    height: 32px;
    border-radius: 1px;
    background-color: #eaeaea;
    position: relative;
    top: 4px;
    bottom: 4px;
}



.main{
    background-color: #f8f8f8;
    width: 100%;
}

.title{
    margin: 0;
    padding:24px 16px;

    font-size: 28px;
    line-height: 40px;
    color: #1B1C21;
    
}

.page-nav{
    position: relative;
    height: 40px;
    padding: 0 0;
display: flex;
align-items: center;
}
.page-nav::after{
    content: '';
    
    height: 40px;
    width: 24px;
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(to right, transparent, #f8f8f8);
}
.page-nav::before{
    content: '';
    height: 40px;
    width: 24px;

    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(to left, transparent 33%, #f8f8f8);
}



.page-nav__list{
    list-style: none;
    white-space: nowrap;
    margin: 0;
    padding:0 0;
height: 40px;
overflow: scroll;


}
.page-nav__list-item{
    display: inline-block;

}

.page-nav__list-link{
    font-size: 16px;
    display: block;
    margin: 6px 16px;
    line-height: 24px;
    text-decoration: none;
    font-weight: medium;
    letter-spacing: 1.25px;
    color: #7E7E82;
}

.page-nav__list-item:first-child{
    margin-left: 16px;
}

.page-nav__list-link--active{
    margin: 0;
    padding: 6px 16px ;

}
.page-nav__list-item--active{
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    background-color: #fff;
}

.intro__down-wrapper{
display: flex;
flex-direction: column;
}
@media (min-width: 768px) { 
    .intro__down-wrapper{
        display: flex;
        flex-direction: row;
        }
}

.intro__about-us{
    padding-bottom: 16px;
}
.intro__text{
    padding: 24px 16px 16px 16px;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    color: #1B1C21
}
@media (min-width: 768px) { 
    .intro__text{
        padding: 32px 24px;
        padding-bottom: 10px;
    }

}

.intro__text--screen-s{
    margin: 0;
}


.intro__text--screen-m{
display: none;
}
@media (min-width: 1120px) { 
    .intro__text--screen-m{
        display: inline;
    }
}

.intro__text--screen-l{
display: none;
}
@media (min-width: 768px) { 
    .intro__text--screen-l{
        display: block;
        margin-top: 32px;
        margin-bottom: 0;
    }
}


.intro__cont-read{
    display: flex;
    align-items: center;

}
.intro__link-marker{
    margin-left: 16px;
    margin-right: 8px;
    display: inline-block;
}
@media (min-width: 768px) { 
    .intro__link-marker{
        margin-left: 25px;
   
    }
}

.intro__link-title{
    margin: 0;
text-decoration: none;
    display: inline-block;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #1B1C21;
}

@media (min-width: 768px) { 

}
.intro__img{
    width: 100%;
    padding-bottom: 35px;
    border-radius:6px ;
}
@media (min-width: 768px) { 
    .intro__img{
       padding: 40px 25px;
       padding-left: 48px;
        border-radius:6px ;
        width: 360px;
        height: 208px;
    }

}


