html{
    font-family: 'TT Lakes';
}

.header{
height: 88px;
width: 100%;
background: #fff;
display: flex;
align-items: center;
justify-content: space-between;
}


.header__left-menu{
margin-left: 16px;
}
.header__burger-icon{
    display: block;
}


.header__center-menu{
    position: absolute;
    left: 72px
}


.header__right-menu{
    width: 118px;
    margin-right: 16px;
    display: flex;
    justify-content: space-between;
}

.header__right-menu::before{
    content: '';
    width: 2px;
    height: 32px;
    border-radius: 1px;
    background-color: #eaeaea;
    position: relative;
top: 4px;
bottom: 4px;
}
.header__repair-icon{

}
.header__checkstatus-icon{

}

.main{
    background-color: #f8f8f8;
    width: 100%;
}




.intro__title{
margin: 0;
}

.arcticle-from-intro{
    border: solid;

}
.arcticle-from-intro__text{
font-size: 14px;
line-height: 18px;
font-weight: normal;
}

.arcticle-from-intro__cont-read{
    border: solid;
    height: 24px;
}
.arcticle-from-intro__link-marker{
display: inline-block;
}
.arcticle-from-intro__link-title{
    display: inline-block;
font-size: 16px;
line-height: 24px;
font-weight: 500;
}
.intro__img{
    width: 100%;
    display: block;
}




.header__repair-icon{
/* margin-right: ; */
}
.header__checkstatus-icon {

} 


/* .intro__title{
font-size: 28px;
line-height: 40px;
    padding-top: 24px;
    padding-left: 16px;
} */